.uncool {
    text-align:center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5em;
    color:black;
    background-color:rgb(54, 54, 125); 
    padding: 3vw; 
    border-radius: 2vw;
    border: 1px black;
    margin: 2px black;
}


.nice { 
text-align: center;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 1.5em;
color:black;
background-color:rgb(64, 110, 131);
padding:3vw;
border-radius:2vw;
border:1px black;
margin: 2px black;
}


.cool {
    text-align:center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5em;
    color:black;
    background-color: skyblue; 
    padding: 3vw; 
    border-radius: 2vw;
    border:1px black
    margin 2px black
}
